In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import re
fig=plt.figure()
import string
import random
import fancyimpute
from datetime import datetime,date,time
from StringIO import StringIO

In [29]:
dateparse = lambda dates: [pd.datetime.strptime(d, '%Y-%m-%d %H:%M:%S') for d in dates]

In [30]:
train=pd.read_csv('bikesharing/train.csv',parse_dates=['datetime'], date_parser=dateparse)
test=pd.read_csv('bikesharing/test.csv',parse_dates=['datetime'], date_parser=dateparse)

In [31]:
#train['th']=train['humidity']/train['temp']
#test['th']=test['humidity']/test['temp']
train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [32]:
train['year'] = train['datetime'].dt.year
train['month'] = train['datetime'].dt.month
train['day'] = train['datetime'].dt.day
train['hours'] = train['datetime'].dt.hour
test['year'] = test['datetime'].dt.year
test['month'] = test['datetime'].dt.month
test['day'] = test['datetime'].dt.day
test['hours'] = test['datetime'].dt.hour

In [33]:
del train['count']
del train['registered']
del train['season']
del test['season']
del train['holiday']
del test['holiday']
del train['month']
del test['month']
del train['day']
del test['day']
del train['weather']
del test['weather']
del train['windspeed']
del test['windspeed']

In [34]:
train.head()

             datetime  workingday  temp   atemp  humidity  casual  year  hours
0 2011-01-01 00:00:00           0  9.84  14.395        81       3  2011      0
1 2011-01-01 01:00:00           0  9.02  13.635        80       8  2011      1
2 2011-01-01 02:00:00           0  9.02  13.635        80       5  2011      2
3 2011-01-01 03:00:00           0  9.84  14.395        75       3  2011      3
4 2011-01-01 04:00:00           0  9.84  14.395        75       0  2011      4

In [35]:
import math
from sklearn.cross_validation import train_test_split

X_all = train.drop(['casual', 'datetime'], axis=1)
y_all = (train['casual'])

num_test = 0.20
X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=num_test, random_state=23)

In [36]:
from sklearn.ensemble import RandomForestRegressor
# Choose the type of classifier. 
clf = RandomForestRegressor(n_estimators=30,max_depth=10)

# Choose some parameter combinations to try
parameters = {'n_estimators': [4, 6, 9], 
              'max_features': ['log2', 'sqrt','auto'], 
              'criterion': ['entropy', 'gini'],
              'max_depth': [2, 3, 5, 10], 
              'min_samples_split': [2, 3, 5],
              'min_samples_leaf': [1,5,8]
             }
# Fit the best algorithm to the data. 
clf.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=10,
           max_features='auto', max_leaf_nodes=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=30, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [37]:
clf.score(X_train,y_train)

0.91684797382088346

In [38]:
clf.score(X_test,y_test)

0.86125258130117022

In [39]:
y_pred = clf.predict(X_test)

In [40]:
def sle(actual, predicted):
    """
    Computes the squared log error.
    This function computes the squared log error between two numbers,
    or for element between a pair of lists or numpy arrays.
    Parameters
    ----------
    actual : int, float, list of numbers, numpy array
             The ground truth value
    predicted : same type as actual
                The predicted value
    Returns
    -------
    score : double or list of doubles
            The squared log error between actual and predicted
    """
    return (np.power(np.log(np.array(y_test)+1) - 
            np.log(np.array(y_pred)+1), 2))

In [41]:
def msle(actual, predicted):
    """
    Computes the mean squared log error.
    This function computes the mean squared log error between two lists
    of numbers.
    Parameters
    ----------
    actual : list of numbers, numpy array
             The ground truth value
    predicted : same type as actual
                The predicted value
    Returns
    -------
    score : double
            The mean squared log error between actual and predicted
    """
    return np.mean(sle(y_test, y_pred))

In [42]:
def rmsle(actual, predicted):
    """
    Computes the root mean squared log error.
    This function computes the root mean squared log error between two lists
    of numbers.
    Parameters
    ----------
    actual : list of numbers, numpy array
             The ground truth value
    predicted : same type as actual
                The predicted value
    Returns
    -------
    score : double
            The root mean squared log error between actual and predicted
    """
    return np.sqrt(msle(y_test, y_pred))

In [43]:
np.sqrt(msle(y_test, y_pred))

0.57331859289778975

In [44]:
X_train.axes

[Int64Index([ 7287,   832,  4646,  3332, 10611,  8958,  1946,  6937,  5134,
              6988,
             ...
              8857,  3674,    39,   347, 10477,  6175,  9704, 10185,  9256,
              8787],
            dtype='int64', length=8708),
 Index([u'workingday', u'temp', u'atemp', u'humidity', u'year', u'hours'], dtype='object')]

In [45]:
clf.feature_importances_

array([ 0.19963176,  0.10504016,  0.1982265 ,  0.07418514,  0.04376168,
        0.37915476])

In [46]:
ids = test['datetime']
predictions = clf.predict(test.drop('datetime', axis=1))
output = pd.DataFrame({ 'datetime' : ids, 'casual': predictions })
output.to_csv('casual.csv', index = False)